body {
  background-color: lightgray;
  font-family: Arial, Helvetica, sans-serif;
}

#app-container {
  width: 80%;
  background-color: white;
  border: 3px solid darkgray;
  margin: auto;
  padding: 10px;
}
